<div class="">
  <ul class="card list-unstyled">
    <li class="card-header">
      <div class="card-title"><%= @board.game.title %></div>
      <div class="card-title">作成者：<%= @board.user.name %></div>
      <div class="card-title">投稿日時：<%= @board.created_at %></div>
    </li>
    <li class="card-body">
      <div>目標ランク：<%= @board.target_rank %></div>
      <div>募集人数：<%= @board.recruit_number %>人</div>
      <div>その他：<%= @board.content %></div>
      <div class="mt-3"><%= render 'parties/join_button', board: @board %></div>
    </li>
    <li class-"card-header">
      <h3 class="card-title ml-3">参加者一覧</h3>
    </li>
    <li class="d-flex flex-row">
      <% @board.joiners.each do |joiner| %>
        <div class="card ml-3">
          <img src="<%= gravatar_url(joiner, { size: 80 }) %>", alt="">
          <%= link_to joiner.name, user_path(joiner), class: 'mx-auto' %>
        </div>
      <% end %>
    </li>
    <li class="d-flex justify-content-end">
      <%= link_to '投稿削除', game_board_path(@board), method: :delete, class: 'btn btn-danger' %>
    </li>
  </ul>
</div>