<header class="mb-4">
  <nav class="navbar navbar-expand-sm bg-dark">
    <p class="navbar-brand text-white my-auto">フレンド募集掲示板</p>
    <div class="navbar my-auto">
      <%= link_to 'ホームへ', root_url, class: 'nav-link text-white' %>
    </div>
    
    
    <div class="navbar nav-item collapse navbar-collapse justify-content-end">
      <div class="navbar nav-item dropdown">
        <div class="nav-link dropdown-toggle text-white", data-toggle="dropdown">ゲームタイトル一覧</div>
        <div class="dropdown-menu">
          <% Game.all.each do |game| %>
            <%= link_to game.title, game_boards_path(game), class: 'dropdown-item' %>
          <% end %>
        </div>
      </div>
    
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item dropdown">
            <div class="nav-link dropdown-toggle text-white", data-toggle="dropdown">
              <%= current_user.name %>
            </div>
            <div class="dropdown-menu dropdown-menu-right">
              <% if current_user && current_user.admin? %>
                <%= link_to 'ユーザー一覧', users_path, class: 'dropdown-item' %>
              <% end %>
              <%= link_to 'マイページ', user_path(current_user), class: 'dropdown-item' %>
              <%= link_to 'ログアウト', logout_path, method: :delete, class: 'dropdown-item' %>
            </div>
          </li>
        <% else %>
          <li class="nav-item nav-link"><%= link_to 'ユーザー登録', signup_path %></li>
          <li class="nav-item nav-link"><%= link_to 'ログイン', login_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
